<mat-card>
  <mat-card-header>
    <mat-card-title>Bienvenue sur le site internet du parc d'attraction</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    
    <!-- Liste des attractions -->
    <div *ngFor="let attraction of attractions | async" class="attraction-card">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{ attraction.nom }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p><strong>Description :</strong> {{ attraction.description }}</p>
          <p><strong>Difficulté :</strong> {{ attraction.difficulte }} / 5</p>

          <!-- Liste des critiques -->
          <h3>Critiques :</h3>
          <mat-list *ngIf="attraction.critiques.length > 0; else noCritique">
            <mat-list-item *ngFor="let critique of attraction.critiques">
              <span class="star-rating">
                <mat-icon *ngFor="let star of getStarRating(critique.note || 0)" [inline]="true">{{ star }}</mat-icon>
              </span>
              <strong>{{ critique.auteur }}</strong> ({{ critique.note || 0 }}/5) : "{{ critique.texte }}"
            </mat-list-item>            
          </mat-list>

          <ng-template #noCritique>
            <p>Aucune critique pour cette attraction.</p>
          </ng-template>

        </mat-card-content>
      </mat-card>
    </div>

  </mat-card-content>
</mat-card>