.attraction-card {
  margin: 15px 0;
}

mat-card {
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

mat-list-item {
  display: flex;
  align-items: center;
  gap: 8px;
}

mat-icon {
  color: gold;
}

.star-rating {
  margin-right: 10px;  /* Ajuste l'espace entre les étoiles et le texte */
}